# Бинарные файлы
*.exe
*.out
*.test

# Сборочные каталоги
bin/
build/

# Системные и временные файлы
.DS_Store
*.log
*.tmp

# Зависимости
vendor/

# Конфигурации редакторов
.vscode/
.idea/

# Базы данных / временные файлы
*.db
*.sqlite

# Персональные переменные окружения
.env
